.space{
    height: 100px;
}
.spacing{
    height: 30px;
}
.feature{
    position: relative;
}

.search_box{
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
}
.name_feature{
        position: absolute;
        top: 20%;
        width: 100%;
        text-align: center;
}
.dercription_feature{
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        opacity: 0.5;
}
.searching{
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30px;
}
::placeholder{
    color: black;
}
a:hover{
    text-decoration: none;
  }
a:active{
    text-decoration: none;
  }
.promotion{
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    padding: 10px;
    position: relative;
}
.icon{
    position: absolute;
    top: 8px;
    right: 10px;
    height: 60px;
    width: 60px;
    margin-top: 60px;
}
.B_promotion{
    position: absolute;
    left: 16px;
    bottom: 30px;
}
.text_promotion{
    position: relative;
    margin-top: 15px;
    color: white;
}
.each_product{
    padding-left: 0;
    padding-right: 0;
}
.btn_pro{
    width: 100%;
    padding: 5px;
}
#cate{
    height: 30px;
}
.CategoryUl{
    list-style-type: none;
}
.categoryButton{
    background-color: white;
    border: 1 solid black;
    border-radius: 5px;
    width: 100%;
}
.CategoryIcon{
    height: 50px;
    width: 50px;
}
.product{
    height: 250px;
}
.discount{
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: red;
    color: white;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 30px;
    width: 50px;
    text-align: center;
}
.ass2{
    right: 30px;
    top: 25px;
}
.loading{
    width: 100%;
}
.price{
    float: right;
}
.product11{
    height: 250px;
}
.desc{
    position: relative;
}
.card11{
    position: absolute;
    bottom: 20px;
    width: 213.5px;
    height: 30px;
    line-height: 15px;
    right: 20px;
}
.product22{
    background-color: darkgrey;
    color: black;
    border: 1px solid darkgray;
    height: 50px;
    width: 300x;
    border-radius: 5px;
}
.select_product{
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
}
.product33{
    text-align: center;
}
.select{
    background-color: darkgray;
    border-radius: 5px;
    color: white;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 100px;
    display:inline-block;
}
.product44{
    position: absolute;
    bottom: 60px;
    right: 20px;
}
.comment{
    border: 1px solid lightgray;
}
